@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Chrome, safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1771c6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5f5f5b0;
}

/* Firefox */
::-webkit-scrollbar-thumb:hover {
  background: #32ae73;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  color: var(--foreground);
}

.hero-animation {
  background-image: linear-gradient(
    147.92deg,
    hsla(239, 76%, 53%, 0.456) 10.41%,
    hsla(0, 0%, 100%, 0) 89.25%
  );
  animation: changeBackgroundColor 8s infinite alternate;
}

@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.7;
  }
  66.67% {
    opacity: 0.6;
  }
  83.33% {
    opacity: 0.4;
  }
}

/* Add this in globals.css or style.css */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-8px);
  }
  40%,
  80% {
    transform: translateX(8px);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}
